
Options -MultiViews
RewriteEngine On
RewriteBase /

# Permitir acceso a todos los archivos y directorios
<FilesMatch ".*">
    Order Allow,Deny
    Allow from all
    Require all granted
</FilesMatch>

# Habilitar CORS
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept"

# Si el archivo o directorio solicitado existe, úsalo directamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirige todas las solicitudes a index.html
RewriteRule ^ index.html [QSA,L]

# Asegurar que el dominio correcto se use
RewriteCond %{HTTP_HOST} !^felipegriz\.com$ [NC]
RewriteRule ^(.*)$ https://felipegriz.com/$1 [L,R=301]
